.comics-section {
    .container {
        position: relative;
        .section-title {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-1rem, -50%);
            font-size: 1.5rem;
            font-weight: 600;
            padding: .5rem 1.5rem;
            color: white;
            background-color: $primary-color;
        }
        .row {
            @include flex(row, space-between, stretch);
            flex-wrap: wrap;
            gap: 1.5rem;
            padding-top: 3rem;
        }
        .load-more {
            @include flex-center();
            padding: 2rem 0;
            button {
                padding: .75rem 4rem;
                font-size: 1rem;
                font-weight: 600;
                border: none;
                color: white;
                background-color: $primary-color;
                cursor: pointer;
                &:hover {
                    color: $primary-color;
                    background-color: white;
                }
            }
        }
        .card {
            width: calc(80vw / 6 - 1.5rem / 5 * 6);
            .img-wrapper {
                height: calc(80vw / 6 - 1.5rem / 5 * 6);
                overflow: hidden;
                img {
                    display: block;
                }
            }
            p {
                margin-top: .5rem;
                text-transform: uppercase;
                color: white;
            }
        }
    }
}